@media (max-width: 1511px){
    #direito-cima, #esquerdo-cima, #direito-baixo, #esquerdo-baixo{
        width: 170px;
    }
    .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    height: calc(100vh - 200px); /*vh = viewport, está deixando a altura do tamanho da tela do cliente, mas tirando 132px que seria o tamanho do header*/
    align-items: center;
    padding: 0 30px 30px;
    }
    .brasao{
        width: 400px;
    }
    #col1 img, #col2 img, #col3 img{
        width: 250px;
    }
    .colunas div h3{
        font-size: 20px;
    }
    .colunas div p{
        font-size: 14px;
    }
}
@media (max-width: 1280px){
    #direito-cima, #esquerdo-cima, #direito-baixo, #esquerdo-baixo{
        width: 130px;
    }
    #col1 img, #col2 img, #col3 img{
        width: 220px;
    }
    .colunas div h3{
        font-size: 18px;
    }
    .colunas div p{
        font-size: 12px;
    }
}

@media (max-width: 1200px){
    body{
        background-color: #263238;
    }
    .fundoVideo{
        display: none;
    }
    .container{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }
    .brasao{
        max-width: 50%;
    }
    .informacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .descricao{
        color: white;
        text-align: center;
    }
    .botaoTrailer{
        background-color: #886a2d;
    }
    .menu li a:hover {
        background-color: #886a2d;
    }
}
@media (max-width: 1150px){
    .colunas{
        gap: 50px;
    }
}
@media (max-width: 1020px){
    .colunas{
        gap: 20px;
    }
}
@media (max-width: 960px){
    .colunas{
        gap: 10px;
    }
}
@media (max-width: 930px){
    .colunas{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width: 500px){
    .cabecalho{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .imagemTitulo{
        max-width: 75%;
    }
    .fecharModal{
        width: 30px;
        line-height: 30px;
    }
    #video{
        width: 300px;
        height: 169px;
    }
    #direito-cima, #esquerdo-cima, #direito-baixo, #esquerdo-baixo{
        width: 100px;
    }
}
@media (max-width: 376px){
    #video{
        width: 250px;
        height: 140;
    }
}